<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1><a href="https://prhotel.onrender.com">PR1Practica</a></h1>
  </body>
</html>
